html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100vw;
    margin: 0;
}

 /* Collapse padding and border for all elements */
 * {
    box-sizing: border-box;
}

/* Website colour palette */
/* Set the page colors from www.coloors.co */
:root {
    --main-bk-color: #0D0221;
    --secondary-bk-color: #6688B0;
    --main-font-color: white;
    --hover-link: #C419BE;
    --highlight-font-color: #2628DD;
}

/* Navigation bar styling */
.navbar-nav {
    margin-left: auto;
    margin-right: 40px !important;
}

.nav-item {
    margin: 0px 15px;
}

.nav-link  {
    color: white;
    position: relative;
    font-size: 1.2em;
}

/* hover effect for navigation links */
/* code from https://www.youtube.com/watch?v=0uZ_ZnlEJ68  */
.nav-link::after {
    opacity: 0;
    transition: all 0.2s;
    content: '';
    height: 2px;
    width: 100%;
    /* background-color: var(--main-font-color); */
    background-color: var(--hover-link);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}


/* custom settings to make navbar turn dark when scrolled */
/* code from https://www.youtube.com/watch?v=z70GTU3p72I */
.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: var(--main-bk-color);
    box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
}

/* Jumbotron  */
.darkSphere {
    background-image: url(../images/dark-sphere-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    filter: brightness(0.9);
}

/* styling for About Me section */

#about-main {
    font-size: 1.5em;
}

.btn-custom {
    background-color: var(--highlight-font-color);
    color: var(--main-font-color);
}

.btn-custom:hover {
    border: 2px solid var(--highlight-font-color);
}

/* card with the Jumbotron */
.card-jumbo {
    background: none;
    /* margin-left: 2em; */
    /* padding: 0; */
}

/* Project Card styling */
.projectCard {
    transition: 0.3s;
    border: 1px solid lightgrey;
}

.projectCard:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 1px 1px 20px grey;
}

/* Skills styling */
.skills {
    color: var(--main-font-color);
    font-size: 1em;
    margin: 5px;
    padding: 7px;
    background-color: var(--hover-link);
}

/* Style for links in Contact Me section */
.btn-link-custom,
.icon-link {
    color: var(--highlight-font-color);
    font-size: 1.5em;
    text-decoration: none;
    padding: 1px auto;
    margin: auto;
}

.icon-link {
    display: none;
}

.btn-link-custom:hover {
    cursor: pointer;
    background-color: var(--highlight-font-color);
    color: var(--main-font-color);
    box-shadow: 1px 1px 10px var(--highlight-font-color);
}

/* Footer style */
footer {
    background-color: var(--secondary-bk-color);
    color: var(--main-font-color)
}

/* Media query to switch text links to icon links on mobile screens */
@media only screen and (max-width: 767px) {
    .btn-link-custom {
        display: none;
    }

    .icon-link {
        display: flex;
        text-decoration: none;
        font-size: 3em;
    }

    #contact a {
        text-decoration: none;
    }
}